<h1><%= @team.name %></h1>

<%= link_to 'Back to Main Menu', :controller => 'home', :action => 'index' %>
<br />
<br />
<span class="largeNumber"><%= if not @placement.nil? 
	@placement.ordinalize 
	end %></span><span class="pointsTxt"> place</span>

<br /><br />

<span class="largeNumber"><%= @team.getTotalScore %></span> <span class="pointsTxt">points total</span>

<br /><br />


<span class="pointsTxt">
<%= pluralize(@team.getNumberOfScans, 'tag') %>  scanned</span>

<hr>

<div class="pointsTxt">
Your team members:
<ul>
	<% @team.users.each do |user| %>
		<li><%= user.first_name.capitalize %> <%= user.last_name.capitalize %> (<%=user.email %>)</li>


	<% end %>
</ul>
</div>

<hr>
<span class="pointsTxt">Tags scanned:</span>


<br /><br />

<table>
	<tr>
<th>Tag name</th>
<th>Points</th>
<th>Time scanned</th>
</tr>

<% @scans.each do |scan| %>
	<tr>
	<td><% if not scan.tag.nil? %>
	<%= scan.tag.name %>
<% end %></td>
	<td>
		<% if not scan.tag.nil? %>
		<%= scan.tag.points %>
		<%end%>
	</td>
	<td><%= time_ago_in_words(scan.created_at) %> ago</td>
</tr>
<% end %>


</table>

<%= will_paginate @scans %>

<%= render "menu/menu" %>