<h1>Remove members from <%=@team.name %></h1>
<%= link_to 'Back to Main Menu', home_index_path %>
	<%= form_tag("remove_user_from_team/#{@team.id}", :method => "post") do %>
		<ul>
		<% @team.users.each do |user| %>

			<li>
				<%= user.first_name %> <%= user.last_name %> [<%= user.email %>] 
				<% if user.id != current_user.id %>
				<%= check_box_tag("USERID #{user.id.to_s}") %>
				<% else %>
				(you)
				<% end %>
			</li>


			<% end %>
			</ul>
		<%= submit_tag("Remove", :confirm => "Are you sure you want to remove these players from your team?") %>

	<% end %>



