<h1><%= @team.name %></h1>

<span class="largeNumber"><%= if not @placement.nil? 
  @placement.ordinalize 
  end %></span><span class="pointsTxt"> place</span>

<br /><br />

<span class="largeNumber"><%= @team.getTotalScore %></span> <span class="pointsTxt">points total</span>

<br /><br />


<span class="pointsTxt">
<%= pluralize(@team.getNumberOfScans, 'tag') %>  scanned</span>

<hr>
<span class="pointsTxt">Tags scanned:</span>


<br />

<table>
  <tr>
<th>Tag name</th>
<th>Points</th>
<th>Time scanned</th>
</tr>

<% @scans.each do |scan| %>
  <tr>
  <td><%= scan.tag.name %></td>
  <td><%= scan.tag.points %></td>
  <td><%= time_ago_in_words(scan.created_at) %> ago</td>
</tr>
<% end %>


</table>

<%= will_paginate @scans %>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<%= render "menu/menu" %>