<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Uniqueurl:</b>
  <%= @tag.uniqueUrl %>
</p>

<p>
  <b>Qrcode:</b>
  <!--<%= @tag.QRCode %>-->

  <table class="qrcodeBig">
        <% @indivQR.modules.each_index do |x| %>
          <tr>  
          <% @indivQR.modules.each_index do |y| %>
           <% if @indivQR.dark?(x,y) %>

            <td class="blackBig"/>
           <% else %>
            <td class="whiteBig"/>
           <% end %>
          <% end %>
          </tr>
        <% end %>
    </table>
</p>

<p>
  <b>Quizquestion:</b>
  <%= @tag.quizQuestion %>
</p>

<p>
  <b>Quizanswer:</b>
  <%= @tag.quizAnswer %>
</p>

<p>
  <b>Content:</b>
  <%= @tag.content %>
</p>

<p>
  <b>Latitude:</b>
  <%= @tag.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @tag.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @tag.address %>
</p>

<p>
  <b>Created by:</b>
  <%= @tag.user.first_name %>
</p>

<% if current_user.try(:admin?) %>
<%= link_to 'Scan me', :controller => "tags", :action => "tagFound", :id => @tag.uniqueUrl %> |
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
<% end %>
