<h1>QR ScanTrak</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
  
  <%= link_to('Edit registration', edit_user_registration_path) %><br />
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  
<% else %>
  
  <%= link_to('Login', new_user_session_path)  %><br />
  <%= link_to('Register', new_user_registration_path)  %>
  
<% end %>
<br /><br />
<% if current_user.try(:admin?) %>

	Welcome, <%= current_user.first_name %>

	<ul>
		<li><%= link_to "Teams", teams_path %></li>
		<li><%= link_to "Tags", tags_path %></li>

	</ul>


<% end %>