<% content_for :rightMenu do %>


    <% if user_signed_in? %>
    <ul class="rightMenuGame">
      <% if not @team.nil? %>
      <li><%= link_to 'Check Team Score', :controller => "teams", :action => "checkTeamScore" %></li>

      <% if @team.users.count < Settings.maxTeamMembers %>

          <li><%= link_to 'Add new Team Members', :controller => 'teams', :action => 'publicAddNewUsersToTeam' %></li>

      <% end %>

      <% if @team.users.count > 1 and not current_user.created_teams.where(:id => @team.id).empty?%>

        <li>
          <%= link_to 'Remove Team Members', teams_removeTeamMembers_path %>
        </li>
      <% end %>

      <li><%= link_to 'Manually enter tag codes', :controller => 'tags', :action => 'manualScan' %></li>

      <% end %>
    <li><%= link_to'Edit registration', :controller => 'users', :action => 'edit' %></li>
      <% if current_user.try(:admin?) %>
      <li><%= link_to('Administrator Panel', admin_path) %></li>

    <% end %>

    <li><%= link_to('Live Leaderboard', teams_leaderboard_path) %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

  </ul>
    
  <% end %>

  <% if not user_signed_in? %>
      <ul class="rightMenuGame">
        <li><a href="#">What is ScanTrak?</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Arrange a Demo</a></li>


      </ul>

      <br />
      <div id="loginForm">
        Sign in:
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= f.text_field :email %>
          <%= f.password_field :password %><br />
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %><br />
          <%= f.submit 'Sign in' %><br />
          <%= link_to "Forgot your password?", new_password_path('user') %><br />
          <%= link_to 'Register', new_user_registration_path %>
        <% end %>

    </div>

    <% end %>


    <% end %>