<h1>QR ScanTrak</h1>

<% if user_signed_in? %>
  <ul>
  	<% if not @team.nil? %>
  	<li><%= link_to 'Check Team Score', :controller => "teams", :action => "checkTeamScore" %></li>

    <% if @team.users.count < Settings.maxTeamMembers%>

      <li><%= link_to 'Add new Team Members', :controller => 'teams', :action => 'publicAddNewUsersToTeam' %></li>
    <% end %>

    <li><%= link_to 'Manually enter tag codes', :controller => 'tags', :action => 'manualScan' %></li>


    <% else %>
      Looks like you're not in a team yet. <%= link_to 'Create a team here', :controller => "home", :action => "createTeam" %><br /><br />
  	<% end %>
  <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
  
<% else %>
  
  <%= link_to('Login', new_user_session_path)  %><br />
  <%= link_to('Register', new_user_registration_path)  %>
  
<% end %>
<br /><br />
<% if current_user.try(:admin?) %>
  <div id="adminPanel">
  	Welcome, <%= current_user.first_name %>

  	<ul>
  		<li><%= link_to "Teams", teams_path %></li>
  		<li><%= link_to "Tags", :controller => "tags", :action => "index" %></li>
      <li><%= link_to "Live Leaderboard", teams_leaderboard_path %></li>

  	</ul>
  </div>


<% end %>