<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :organisation %><br />
    <%= f.text_field :organisation %>
  </div>
  <div class="field">
    <%= f.label :shortID, "Provide a short ID for people to join the game with" %><br />
    <%= f.text_field :shortID %>
  </div>
  <div class="field">
    <%= f.label :maxNumberOfPlayers, "Maximum Number of Players" %><br />
    <%= f.number_field :maxNumberOfPlayers %>
  </div>
  <div class="field">
    <%= f.label :contactDetails, "Contact Details" %><br />
    <%= f.text_area :contactDetails %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :paymentExpires, "Payment Expires (dd/mm/yyyy)" %><br />
    <%= f.text_field :paymentExpires %>
  </div>
  <div class="field">
    <%= f.label :requiresPassword, "Game requires password" %>
    <%= f.check_box :requiresPassword %>
  </div>
  <div class="field">
    <%= f.label :password, "Password (If above checkbox blank, none required)" %><br />
    <%= f.password_field :password %>
    </div>

    <h2>Settings for printed tags:</h2>
    <div class="field">
      <%= f.label :showGameInfoOnPrintedTags, "Show game info on tags" %>
      <%= f.check_box :showGameInfoOnPrintedTags %>
    </div>
    <div class="field">
      <%= f.label :showLogoOnPrintedTags, "Show organisation's logo on printed tags" %>
      <%= f.check_box :showLogoOnPrintedTags %>
    </div>
    <div class="field">
      <%= f.label :showPasswordOnPrintedTags, "Show the password on printed tags" %>
      <%= f.check_box :showPasswordOnPrintedTags %>
    </div>
    <div class="field">
      <%= f.label :addQRScanTrakLogoOnPrintedTags, "Show the scantrak logo on printed tags" %>
      <%= f.check_box :addQRScanTrakLogoOnPrintedTags %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

