<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Uniqueurl:</b>
  <%= @tag.uniqueUrl %>
</p>

<p>
  <b>Qrcode:</b>
  <!--<%= @tag.QRCode %>--><br />
  <%= image_tag @tag.qr_code.url %>
</p>

<p>
  <b>Quizquestion:</b>
  <%= @tag.quizQuestion %>
</p>

<p>
  <b>Quizanswer:</b>
  <%= @tag.quizAnswer %>
</p>

<p>
  <b>Content:</b>
  <%= @tag.content %>
</p>

<p>
  <b>Latitude:</b>
  <%= @tag.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @tag.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @tag.address %>
</p>

<p>
  <b>Created by:</b>
  <%= @tag.user.first_name %>
</p>

<% if current_user.try(:admin?) %>
<%= link_to 'Scan me', :controller => "tags", :action => "tagFound", :id => @tag.uniqueUrl %> |
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
<% end %>

