<!DOCTYPE html>
<html>
<head>
  <title>QRScantrak</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <!-- Google Analytics -->
   <%= javascript_include_tag "analytics" %>
  <!-- End Google Analytics -->
  <%= csrf_meta_tags %>
  <%= yield(:head) %> 

</head>
<body>

	<div id="wrapper">

		<div id="blueHeader">
		</div>

		<a href="/" id="logo">
			
		</a>

		<div id="contentWrapper">
			<div id="rightHandMenu">
				<%= yield(:rightMenu) %>
			</div>

			<div id="content">
				
				<%= render 'home/status' %>
				<p id="notice"><%= notice %></p>
				<p id="alert"><%= alert %></p>
				<%= yield %>
			</div>
		</div>



	</div>
	<div id="footer">
			<%= render 'footers/application' %>
	</div>


</body>
</html>
